.image {
  /* object-fit: cover;  */
  background-repeat: repeat-y;
  background-position: center;
  background-size: cover;
}

.image:hover .filter {
  opacity: 0;
  transition: .5s;
}

.tech {
  padding: 1rem;
}

.card {
  max-width: 45rem;
  height: 100%;
  overflow: hidden;
  margin: 2rem 1.5rem 4rem 1.5rem;
  border-radius: var(--border-radius);
  /* box-shadow: var(--box-shadow-lg); */
  border: var(--border-sm);
}

.filter {
  transition: .5s;
  height: 100%;
  width: 45%;
  background-color: rgba(0, 0, 0, 0.897);
  padding: 4rem 3rem;
}

.name {
  font-size: var(--title-fontsize-sm);
  padding-bottom: .2rem;
}

.techstack {
  font-size: var(--body-fontsize-sm);
  padding: .31rem;
}

.header {
  border-bottom: var(--border-sm);
}

.about {
  font-size: var(--body-fontsize-sm);
  padding: 1rem;
  line-height: 2rem;
}

.a {
  width: 3rem;
  height: 3rem;
  float: right;
}
.link {
  width: 3rem;
  height: 3rem;
  float: right;
  transition: .5s;
  border-radius: var(--border-radius);
  padding: 1rem;
  border: var(--border-width-sm) solid transparent;
}

.link:hover {
  border: var(--border-sm);
  transition: .5s;
}

/* Tablet */
@media only screen and (min-width : 30em) {
  .container {
    padding: 5rem;
  }
  
  .name {
    font-size: var(--title-fontsize-md);
    padding-bottom: .2rem;
  }
  
  .techstack {
    font-size: var(--body-fontsize-md);
    padding-bottom: .5rem;
  }
  
  .location {
    font-size: var(--body-fontsize-md);
    padding-bottom: 1rem;
  }
  
  .header {
    border-bottom: var(--border-sm);
  }

  .about {
    font-size: var(--body-fontsize-md);
    padding: 1rem;
    line-height: 2rem;
  }
  
  .a {
    width: 3rem;
    height: 3rem;
    float: right;
  }
  .link {
    width: 3rem;
    height: 3rem;
    float: right;
    transition: .5s;
    border-radius: var(--border-radius);
    padding: 1rem;
    border: var(--border-width-sm) solid transparent;
  }
  
  .link:hover {
    border: var(--border-sm);
    transition: .5s;
  }
}

/* Desktop */
@media only screen and (min-width : 50em) {
  
  .name {
    font-size: var(--title-fontsize-lg);
    padding-bottom: .2rem;
  }
  
  .techstack {
    font-size: var(--body-fontsize-lg);
    padding-bottom: .5rem;
  }
  
  .header {
    border-bottom: var(--border-sm);
  }
  
  .about {
    font-size: var(--body-fontsize-md);
    padding: 1rem;
    line-height: 2rem;
  }

  .link {
    width: 3rem;
    height: 3rem;
    float: right;
    transition: .5s;
    border-radius: var(--border-radius);
    padding: 1rem;
    border: var(--border-width-sm) solid transparent;
  }
  
  .link:hover {
    border: var(--border-sm);
    transition: .5s;
  }
}

/* XL Desktop */
@media only screen and (min-width : 90em) {

}