.image {
  /* object-fit: cover;  */
  background-repeat: repeat-y;
  background-position: center;
  background-size: cover;
}


.tech {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  color: var(--secondary-color);
  padding: 1rem 0;
  width: 100%;
}

.card {
  max-width: 45rem;
  height: 100%;
  overflow: hidden;
  margin: 2rem 1.5rem 4rem 1.5rem;
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow-lg);
  /* border: var(--border-sm); */
  position: relative;
}

.filter {
  transition: .5s;
  height: 100%;
  width: 45%;
  background-color: var(--transparent-color-darker);
  padding: 4rem 3rem;
}

.name {
  display: flex;
  font-size: var(--secondary-fontsize-lg);
  padding-bottom: .2rem;
}

.techstack {
  font-size: var(--body-fontsize-sm);
}

.header {
  border-bottom: var(--border-sm);
}

.about {
  font-size: var(--body-fontsize-sm);
  padding: 1rem;
  line-height: 2rem;
}

.links {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 1rem;
  right: 3rem;
}


.a {
  width: 2rem;
  height: 2rem;
  padding: 1rem;
  margin: .5rem;
}

.link {
  width: 2rem;
  height: 2rem;
  transition: .5s;
  background-color: var(--transparent-color-darker);
  border-radius: var(--border-radius);
  padding: 1rem;
  border: var(--border-width-sm) solid transparent;
}

.link:hover {
  border: var(--border-sm);
  transition: .5s;
}

/* Tablet */
@media only screen and (min-width : 30em) {
  .container {
    padding: 5rem;
  }
  
  .name {
    font-size: var(--title-fontsize-md);
    padding-bottom: .2rem;
  }
  
  .techstack {
    font-size: var(--body-fontsize-md);
    padding-bottom: .5rem;
  }
  
  .location {
    font-size: var(--body-fontsize-md);
    padding-bottom: 1rem;
  }
  
  .header {
    border-bottom: var(--border-sm);
  }

  .about {
    font-size: var(--body-fontsize-md);
    padding: 1rem;
    line-height: 2rem;
  }
  
  .a {
    width: 3rem;
    height: 3rem;
  }
}

/* Desktop */
@media only screen and (min-width : 50em) {

  .links {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 1rem;
    right: -10rem;
    transition: .5s;
  }
  
  .card:hover .links {
    right: 3rem;
    transition: .5s;
  }

  .card {
    max-width: 55rem;
    width: 55rem;
  }

  .name {
    font-size: var(--title-fontsize-lg);
    padding-bottom: .2rem;
  }
  
  .techstack {
    font-size: var(--body-fontsize-lg);
    padding-bottom: .5rem;
  }
  
  .header {
    border-bottom: var(--border-sm);
  }
  
  .about {
    font-size: var(--body-fontsize-md);
    padding: 1rem;
    line-height: 2rem;
  }

  .link {
    width: 3rem;
    height: 3rem;
    transition: .5s;
  }
}
/* Desktop */
@media only screen and (min-width : 60em) {
  
  .card {
    max-width: 65rem;
    width: 65rem;
  }
}

/* XL Desktop */
@media only screen and (min-width : 90em) {
  .card {
    max-width: 80rem;
    width: 80rem;
  }
}