.container {
  min-height: 140vh;
  margin-bottom: .6rem;
  max-width: calc(100vw - 3rem);
}

.body {
  justify-content: space-around;
  flex-direction: row;
  display: flex;
  flex-wrap: wrap;
  margin: 2rem auto;
  width: 100%;
}

/* Tablet */
@media only screen and (min-width : 30em) {

}

/* Desktop */
@media only screen and (min-width : 50em) {
  .body {
    width: 100%;
  }
}

/* XL Desktop */
@media only screen and (min-width : 90em) {

}