.container {
  min-height: 140vh;
  margin-bottom: .6rem;
  max-width: calc(100vw - 3rem);
}

.body {
  margin: 1rem auto;
  width: 100%;
  
}

/* Tablet */
@media only screen and (min-width : 30em) {

}

/* Desktop */
@media only screen and (min-width : 50em) {

}

/* XL Desktop */
@media only screen and (min-width : 90em) {

}