.center {
  height: 100vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.name {
  font-size: 5rem;
  margin: 5px;
  font-weight: bold;
}

.about {
  font-size: 20px;
  font-weight: bold;
}

.buttons {
  width: auto;
}

.button {
  position: relative;
  text-align: center;
  vertical-align: middle;
  line-height: 80px;
  display: inline-block;
  text-decoration: none;
  width: 160px;
  height: 80px;
  margin: 20px;
  font-size: 34px;
  background: transparent;
  /* border: 5px solid var(--font-color); */
  transition: 0.3s;
  
}
.button:hover {
  transition: 0.3s;
  text-shadow: 0 2rem var(--secondary-color), 0 4rem var(--primary-color), 0 6rem var(--secondary-color), 0 8rem var(--primary-color), 0 10rem var(--secondary-color);
  text-decoration:none; 
  cursor:pointer;  
}

.logo {
  margin: 40px auto 0;
  width: 50px;
  height: 50px;
}

    /* M */
    @media only screen and (min-width : 46.8em) {
      .logo {
        margin: 100px auto;
        width: 100px;
        height: 100px;
      }
    
      .button {
        line-height: 150px;
        width: 300px;
        height: 150px;
        margin-bottom: 10rem;
        font-size: 40rem;
        /* border: var(--border-lg); */
        font-weight: bolder;
      }
    
      .name {
        font-size: 12rem;
        margin: 10px;
        /* text-shadow: 4px 4px #00000067; */
      }
    
      .about {
        font-size: 40px;
        font-weight: bold;
      }
    }

    /* L */
    @media only screen and (min-width : 50em) {

    }

    /* XL */
    @media only screen and (min-width : 73em) {

    }
