.body {
  height: 100vh;
  width: 100vw;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  font-family: var(--font-family-header);
}

.name {
  font-size: 5rem;
  margin: .5rem;
  font-weight: bold;
  opacity: 0;
  animation: fade-in-right ease 0.4s forwards;
}

.job {
  font-size: 2rem;
  font-weight: bold;
  opacity: 0;
  animation: fade-in-right ease 0.4s forwards;
  animation-delay: 0.2s;
}

.button {
  margin-top: -10rem;
  display: inline-block;
  text-decoration: none;
  font-size: 20rem;
  height: 10rem;
  background: transparent;
  transition: 0.3s;
  opacity: 0;
  animation: fade-in-right ease 0.4s forwards;
  animation-delay: 0.4s;
  
}
.button:hover {
  transition: 0.3s;
  text-shadow: 0 2rem var(--secondary-color), 0 4rem var(--primary-color), 0 6rem var(--secondary-color), 0 8rem var(--primary-color), 0 10rem var(--secondary-color);
  text-decoration:none; 
  cursor:pointer;  
}

@keyframes fade-in-right {
  from {
    opacity: 0;
    transform: translateX(-15px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}


    /* M */
    @media only screen and (min-width : 40em) {
      .button {
        font-size: 30rem;
        margin-top: -20rem;
      }
    
      .name {
        font-size: 8rem;
        margin: 1rem;
      }
    
      .job {
        font-size: 3.4rem;
      }
    }

    /* L */
    @media only screen and (min-width : 50em) {
      .button {
        font-size: 40rem;
        margin-top: -20rem;
      }
    
      .name {
        font-size: 12rem;
        margin: 1rem;
      }
    
      .job {
        font-size: 4rem;
      }
    }

    /* XL */
    @media only screen and (min-width : 90em) {
      .button {
        font-size: 50rem;
        margin-top: -20rem;
      }
    
      .name {
        font-size: 16rem;
        margin: 1.4rem;
      }
    
      .job {
        font-size: 5rem;
      }
    }
