



/* Tablet */
@media only screen and (min-width : 46.8em) {

}

/* Desktop */
@media only screen and (min-width : 50em) {
  .container {
    position: sticky;
    top: 0;
    background-color: var(--sidenav-color);
    min-height: 100vh;
    transition: 2s;
    width: 27rem;
    /* box-shadow: 4px 0 8px 0 rgba(0, 0, 0, 0.2), 6px 0 20px 0 rgba(0, 0, 0, 0.19); */
  }
  
  .title {
    font-size: 4rem;
    padding: 2rem 4rem 6rem 4rem;
    position: sticky;
    top: 0;
  }

  a {
    font-weight: lighter;
    padding: 1rem 4rem;
    text-decoration: none;
    font-size: 3rem;
    color: var(--font-color);
    display: block;
  }

  .resume {
    position: absolute;
    bottom: 0;
    line-height: 3rem;
    height: 3rem;
    margin: 3rem;
    
    padding: 1rem 5rem;
    border: var(--border-sm);
  }
}

/* XL Desktop */
@media only screen and (min-width : 73em) {

}