    .card {
      background-color: var(--sidenav-color);
      color: var(--font-color);
      display: flex;
      flex-direction: row;
      border-radius: var(--border-radius);
      flex-wrap: wrap;
    }

    .container {
      min-height: 120vh;
    }

    .title {
      position: sticky;
      top: 0;
      color: var(--font-color);
      background-color: var(--transparent-color);
      font-size: 4rem;
      padding: 2rem 4rem 2.2rem 4rem;
      box-shadow: 0 1rem 2rem 0 rgba(0, 0, 0, 0.1), 0 1rem 2rem 0 rgba(0, 0, 0, 0.1);
    }


    .job {
      border-bottom: 1px solid var(--secondary-color);
    }

    .description {
      flex: 1 1 0;
      width: 40rem;
      margin: 2rem .3rem 2rem 2rem;
      font-weight: lighter;
      min-width: 20rem;
    }
    
    .name {
      font-size: var(--secondary-fontsize);
      padding: var(--spacer-sm) var(--spacer-sm) 0 1rem;
    }
    
    .job {
      font-size: var(--body-fontsize);
      padding: var(--spacer-sm) var(--spacer-sm) var(--spacer-lg) 1rem;
    }
    
    .text {
      color: var(--body-color);
      font-size: var(--body-fontsize);
      padding: var(--spacer-lg) var(--spacer-sm) var(--spacer-md) 1rem;
      line-height: 2rem;
    }

    .card {
      margin: 4rem 8rem 0 8rem;
      max-width: 70rem;
    }

    .image {
      margin: 2rem;
      flex: 1 1 1;
      object-fit: cover;
      max-height: calc(100vh - 25rem);
    }
    
    /* Tablet */
    @media only screen and (min-width : 46.8em) {

    }

    /* Desktop */
    @media only screen and (min-width : 50em) {

    }

    /* XL Desktop */
    @media only screen and (min-width : 73em) {

    }