    .card {
      background-color: var(--font-color);
      color: var(--sidenav-color);
      display: flex;
      flex-direction: column;
      max-width: 35%;
    }
    
    /* Tablet */
    @media only screen and (min-width : 46.8em) {

    }

    /* Desktop */
    @media only screen and (min-width : 50em) {

      .imagebox {

      }

      .container {
        margin: 2rem 4rem;
      }

      .title {
        color: var(--font-color);
        font-size: var(--title-fontsize);
        margin-bottom: 4rem; 
      }

      .description {
        margin: var(--spacer-md);
      }

      .name {
        font-size: var(--secondary-fontsize);
        padding: var(--spacer-sm);
        font-weight: bold;
      }

      .job {
        font-size: var(--body-fontsize);
        padding: var(--spacer-sm);
      }

      .card {
        box-shadow: 0 1rem 2rem 0 rgba(0, 0, 0, 0.3), 0 1rem 2rem 0 rgba(0, 0, 0, 0.3);
      }

      .image {
        max-width: 100%;
        height: auto;
      }
    }

    /* XL Desktop */
    @media only screen and (min-width : 73em) {

    }