.light {
  border-left: 1rem solid var(--primary-color);
  color: var(--font-color);
  background-color: var(--sidenav-color);
}

.dark {
  border-left: 1rem solid var(--secondary-color);
  color: var(--sidenav-color);
  background-color: var(--font-color);
}

.fact {
  font-size: 1.5rem;
  padding: 1rem;
  font-weight: lighter;
  min-height: 10rem;
}