.container {
  min-height: 140vh;
}

.title {
  position: sticky;
  top: 0;
  color: var(--font-color);
  background-color: var(--transparent-color);
  font-size: 4rem;
  padding: 2rem 4rem 2.2rem 4rem;
  box-shadow: 0 1rem 2rem 0 rgba(0, 0, 0, 0.1), 0 1rem 2rem 0 rgba(0, 0, 0, 0.1);
}


.body {
  height: calc(100vh - 6rem);
  white-space: nowrap;
  text-align: center;
}

.helper {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.img {
  vertical-align: middle;
  width: 15%;
  height: auto;
  transition: 1s;
}
.img:hover {
  width: 25%;
  transition: 1s;
}
/* Tablet */
    @media only screen and (min-width : 46.8em) {

    }

    /* Desktop */
    @media only screen and (min-width : 50em) {

    }

    /* XL Desktop */
    @media only screen and (min-width : 73em) {

    }