.container {
  height: 110vh;
  width: 100%;
}

.body {
  margin: 0;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row-reverse;
  margin: 2rem;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.card {
  background-color: var(--transparent-color-dark-md);
  color: var(--font-color);
  border-radius: var(--border-radius);
  width: 12rem;
  margin: 1rem;
  padding: .5rem;
  box-shadow: var(--box-shadow-lg);
}

.status {
  margin: 14rem 2rem;
  font-size: 6rem;
  font-weight: lighter;
}

.status {
  transition: 1s;
  text-shadow: .5rem .5rem var(--primary-color), 1rem 1rem var(--secondary-color), 1.5rem 1.5rem var(--primary-color);
}

.contact {
  cursor: pointer;
  background-color: var(--transparent-color-dark-md);
  border-radius: var(--border-radius);
  margin: .5rem;
  padding: .3rem 0rem .3rem 3rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 8rem;
  transition: 1s;
}
.contact:hover {
  background-color: var(--sidenav-color);
  width: 30rem;
  transition: 1s;
}

.contact:hover {
  color: var(--primary-color);
  transition: .5s;
}


.link, .copy, .icon {
  width: 5rem;
  height: 8rem;
  fill: var(--secondary-color);
  transition: .3s;
}

.link, .copy {
  visibility: hidden;
  opacity: 0;
}

.contact:hover .link, .contact:hover .icon, .contact:hover .copy {
  fill: var(--secondary-color);
  transition: .5s;
  margin-right: 6rem;
}

.contact:hover .copy, .contact:hover .link {
  visibility: visible;
  opacity: 1;
  transition: visibility .3s linear .3s, opacity .3s linear .3s, fill .1s;
}

.copyDiv:hover .copy, .linkDiv:hover .link{
  fill: var(--primary-color);
}

.contact {
  font-size: var(--secondary-fontsize-lg);
  color: var(--secondary-color);
  transition: .5s;
}

.textarea {
  height: 0px;
  opacity: 0;
}
/* Tablet */
@media only screen and (min-width : 30em) {
  .status {
    margin: 10rem 0 2rem 3rem;
    width: 100%;
    font-size: 9rem;
  }
}

/* Desktop */
@media only screen and (min-width : 50em) {
  
  .card {
    width: 19rem;
    margin: 0 2rem;
    padding: 1rem;
  }
  
  .status {
    margin: 0rem 10rem 10rem 10rem;
    font-size: 15rem;
  }
  
  .status {
    transition: 1s;
    text-shadow: .5rem .5rem var(--primary-color), 1rem 1rem var(--secondary-color), 1.5rem 1.5rem var(--primary-color);
  }
  
  .contact {
    margin: 1rem;
    padding: .3rem 0rem .3rem 6rem;
    width: 11rem;
  }
  .contact:hover {
    width: 35rem;
  }

  .link, .copy, .icon {
    width: 5rem;
    height: 8rem;
  }
  
  .contact:hover .link, .contact:hover .icon, .contact:hover .copy {
    transition: .5s;
    margin-right: 6rem;
  }
  
  .contact:hover .copy, .contact:hover .link {
    visibility: visible;
    opacity: 1;
    transition: visibility .3s linear .3s, opacity .3s linear .3s, fill .1s;
  }
  
  .copyDiv:hover .copy, .linkDiv:hover .link{
    fill: var(--primary-color);
  }
  
  .contact {
    font-size: var(--secondary-fontsize-lg);
    color: var(--secondary-color);
    transition: .5s;
  }
}

/* XL Desktop */
@media only screen and (min-width : 90em) {

}