.container {
  min-height: 110vh;
}

.body {
  margin: 2rem;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
}

.card {
  background-color: var(--transparent-color-dark-md);
  color: var(--font-color);
  border-radius: var(--border-radius);
  width: 20rem;
  margin: 2rem;
  padding: 1rem;
  box-shadow: var(--box-shadow-lg);
}

.status {
  flex: 1;
  margin: 2rem 0rem 2rem 20rem;
  font-size: 15rem;
}

.contact {
  cursor: pointer;
  background-color: var(--transparent-color-dark-md);
  border-radius: var(--border-radius);
  margin: 1rem;
  padding: .3rem 0rem .3rem 6rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 12rem;
  transition: 1s;
}
.contact:hover {
  background-color: var(--sidenav-color);
  width: 35rem;
  transition: 1s;
}

.contact:hover {
  color: var(--primary-color);
  transition: .5s;
}


.link, .copy, .icon {
  width: 5rem;
  height: 8rem;
  fill: var(--secondary-color);
  transition: .3s;
}

.link, .copy {
  visibility: hidden;
  opacity: 0;
}

.contact:hover .link, .contact:hover .icon, .contact:hover .copy {
  fill: var(--secondary-color);
  transition: .5s;
  margin-right: 6rem;
}

.contact:hover .copy, .contact:hover .link {
  visibility: visible;
  opacity: 1;
  transition: visibility .3s linear .3s, opacity .3s linear .3s, fill .1s;
}
/* 
.link:hover, .copy:hover {
  fill: var(--primary-color);
} */


.copyDiv:hover .copy, .linkDiv:hover .link{
  fill: var(--primary-color);
}

.body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 15rem);
}

.imgbox {
  transition: 1s;
  cursor: copy;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact {
  font-size: var(--secondary-fontsize-lg);
  color: var(--secondary-color);
  transition: .5s;
}

.imgbox:hover .img{
  width: 20%;
  transition: .3s;
}


.textarea {
  height: 0px;
  opacity: 0;
}

/* Tablet */
@media only screen and (min-width : 30em) {

}

/* Desktop */
@media only screen and (min-width : 50em) {

}

/* XL Desktop */
@media only screen and (min-width : 90em) {

}