.container {
  min-height: 140vh;
  margin-bottom: .6rem;
}

.body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

/* Tablet */
@media only screen and (min-width : 30em) {

}

/* Desktop */
@media only screen and (min-width : 50em) {

}

/* XL Desktop */
@media only screen and (min-width : 90em) {

}