.container {
  background-color: var(--sidenav-color);
  flex: 1;
  padding: 2rem;
}

.company {
  font-size: var(--title-fontsize-sm);
  padding-bottom: .2rem;
}

.title {
  font-size: var(--secondary-fontsize-sm);
  padding-bottom: .5rem;
}

.dates {
  font-size: var(--body-fontsize-sm);
  padding-bottom: .5rem;
}

.location {
  font-size: var(--body-fontsize-sm);
  padding-bottom: 1rem;
}

.header {
  border-bottom: var(--border-sm);
}

.bullets {
  padding: 2rem 0 0 0;
}

.bullet {
  font-size: var(--body-fontsize-sm);
  padding: 1rem;
  line-height: 2rem;
}

.a {
  float: right;
  border: var(--border-width-sm) solid transparent;
  border-radius: var(--border-radius);
  transition: .5s;
  margin: .5rem;
}

.link {
  width: 3rem;
  height: 3rem;
  float: right;
  transition: .5s;
  padding: 1.2rem;
  fill: var(--font-color);
}

.a:hover {
  transition: .5s;
  border: var(--border-sm);
}

.a:hover .link {
  fill: var(--secondary-color);
  transition: .5s;
}

/* Tablet */
@media only screen and (min-width : 30em) {
  .container {
    padding: 5rem;
  }
  
  .company {
    font-size: var(--title-fontsize-md);
    padding-bottom: .2rem;
  }
  
  .title {
    font-size: var(--secondary-fontsize-md);
    padding-bottom: .5rem;
  }
  
  .dates {
    font-size: var(--body-fontsize-md);
    padding-bottom: .5rem;
  }
  
  .location {
    font-size: var(--body-fontsize-md);
    padding-bottom: 1rem;
  }
  
  .header {
    border-bottom: var(--border-sm);
  }
  
  .bullets {
    padding: 2rem 0 0 0;
  }
  
  .bullet {
    font-size: var(--body-fontsize-md);
    padding: 1rem;
    line-height: 2rem;
  }
  .link {
    width: 3rem;
    height: 3rem;
  }
}

/* Desktop */
@media only screen and (min-width : 50em) {
  .container {
    padding: 5rem;
  }
  
  .company {
    font-size: var(--title-fontsize-lg);
    padding-bottom: .2rem;
  }
  
  .title {
    font-size: var(--secondary-fontsize-lg);
    padding-bottom: .5rem;
  }
  
  .dates {
    font-size: var(--body-fontsize-lg);
    padding-bottom: .5rem;
  }
  
  .location {
    font-size: var(--body-fontsize-lg);
    padding-bottom: 1rem;
  }
  
  .header {
    border-bottom: var(--border-sm);
  }
  
  .bullets {
    padding: 2rem 0 0 0;
  }
  
  .bullet {
    font-size: var(--body-fontsize-md);
    padding: 1rem;
    line-height: 2rem;
  }
}

/* XL Desktop */
@media only screen and (min-width : 90em) {

}