body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  font-family: sans-serif;
  background: var(--primary-color);
  background: radial-gradient(circle, var(--primary-color) 0%, var(--secondary-color) 100%);
}

a {
  color: var(--font-color);
}