
:root {
  /* variables */
  /* colors */
  --primary-color: rgb(107, 4, 190);
  --secondary-color: rgb(89, 203, 255);
  --darker-primary: rgba(110, 110, 110, 0.384);
  --font-color: rgb(243, 243, 243);
  --sidenav-color: rgb(29, 29, 29);
  --transparent-color: rgba(255, 255, 255, 0.322);

  --border-sm: .3rem solid white;
  --border-lg: .7rem solid white;

  /* spacing */
  --spacer-sm: .5rem;
  --spacer-md: 1rem;
  --spacer-lg: 2rem;

  /* fonts */
  --title-fontsize: 4rem;
  --secondary-fontsize: 2.4rem;
  --body-fontsize: 1.5rem;

  /* defaults */
  color: var(--font-color);
  font-size: 62.5%; /* 1rem === 10px */
}

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  font-family: sans-serif;
  background: var(--primary-color);
  background: radial-gradient(circle, var(--primary-color) 0%, var(--secondary-color) 100%);
}

a {
  color: var(--font-color);
}


/* Media Querie Template */
/* Media querie ems came from http://bradfrost.com/blog/post/7-habits-of-highly-effective-media-queries/ */

    /* Tablet */
    @media only screen and (min-width : 46.8em) {

    }

    /* Desktop */
    @media only screen and (min-width : 50em) {

    }

    /* XL Desktop */
    @media only screen and (min-width : 73em) {

    }